@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    font-size: 20px;
    height: 70px ;
    width:800px;
    padding: 20px;  
}
.container{
    font-family: 'Courier New', Courier, monospace ;
    text-align: center;
    background-color:  rgb(255, 249, 249);
    font-size: 50px;
}
.header{
 font-family:Poppins;
 font-size: large;
 padding: 30px;
 line-height: 40px;

}
.content1{
    font-family: Poppins;
    margin: 30px 60px;
    border: 4px;
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(0, 254, 229);
    opacity: 0.77;
    padding: 20px;
}
.paragraph1{
    padding: 20px;
    line-height: 30px;
    font-weight: bold;
}
.content2{
    font-family: Poppins;
    margin: 30px 60px;
    border: 4px;
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(0, 254, 229);
    opacity: 0.77;
    padding: 20px;
}

.heading1{
    font-family: 'Courier New', Courier, monospace ;
    text-align: center;
    line-height: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    
    
}
.list1{
    padding: 20px;
    line-height: 30px;
    font-weight: bold;
}
.contact{
    font-family:Poppins ;
    background-color: rgb(7, 212, 212);
    line-height:30px;
    padding-left: 20px;
    opacity: 0.77;
    color: rgb(0, 0, 0);
    font-weight: bold;
    
}
.heading2{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    line-height: 40px;
    color:white;
    font-size: 30px;
    padding: 20px;

}
.iconbar{
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    padding: 30px;

}
.navbar2{
    font-family: Poppins;
    height: 100%;
    width: 180px;
    position: absolute;
    background-color: #ffff;
    transition: 1s ease;
    transform: translateX(-180px);

}
.header1{
    color: rgb(6, 254, 229);
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
    pointer-events: none;

}
ul li{
        list-style: none;

}
ul li a{
    color:rgb(0, 254, 229);
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}
ul li a i{
    width: 40px;
    text-align: center;
}
input{
    display: none;
    visibility: hidden;
}
.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 1;
    cursor: pointer;
    background-color: rgb(244, 250, 250);
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 3);
}
.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color:  rgb(0, 254, 229);
    border-radius: 50px;
    transition: 0.3s ease;

}
.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input:checked ~ .toggle .top_line{
    transform:rotate(45deg);
    left: 2px;
    top: 14px;
    width:25px;

}
input:checked ~ .toggle .middle_line{
    transform:translateX(20px);
    left: 2px;
    top: 14px;
    width:25px;
    opacity: 0;
}
input:checked ~ .toggle .bottom_line{
    transform:rotate(305deg);
    left: 2px;
    top: 14px;
    width:25px;
    
}
input:checked ~ .navbar2{
    transform: translateX(0);
}
.othericon{
    text-align: right;
}
.detail1{
    text-align: left;
    font-size:22px;

}
.detail2{
    text-align: left;
    font-size:22px;
}

